@charset "UTF-8";

.pager ul, ol, ul {
  list-style: none
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

blockquote, q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: ' ';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.markdown-format h1, .markdown-format h2 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 20px
}

div.search-form .autocomplete-results a.selected, div.search-form .autocomplete-results a:hover {
  background-color: #3586c3;
  color: #fff
}

.search-form-btn {
  display: table-cell;
  width: 1%;
  vertical-align: middle
}

.markdown-format h1 .octicon-link, .markdown-format h2 .octicon-link, .markdown-format h3 .octicon-link, .markdown-format h4 .octicon-link, .markdown-format h5 .octicon-link, .markdown-format h6 .octicon-link {
  display: none;
  color: #000
}

.markdown-format h1 a.anchor:focus, .markdown-format h2 a.anchor:focus, .markdown-format h3 a.anchor:focus, .markdown-format h4 a.anchor:focus, .markdown-format h5 a.anchor:focus, .markdown-format h6 a.anchor:focus {
  outline: 0
}

.markdown-format h1:hover a.anchor, .markdown-format h2:hover a.anchor, .markdown-format h3:hover a.anchor, .markdown-format h4:hover a.anchor, .markdown-format h5:hover a.anchor, .markdown-format h6:hover a.anchor {
  text-decoration: none;
  line-height: 1;
  padding-left: 0;
  top: 15%
}

.markdown-format h1:hover a.anchor .octicon-link, .markdown-format h2:hover a.anchor .octicon-link, .markdown-format h3:hover a.anchor .octicon-link, .markdown-format h4:hover a.anchor .octicon-link, .markdown-format h5:hover a.anchor .octicon-link, .markdown-format h6:hover a.anchor .octicon-link {
  display: inline-block;
  margin-left: -16px
}

.markdown-format h4.header a.anchor .octicon-link {
  display: none
}

.markdown-format h1 {
  color: #333
}

.markdown-format h2 {
  color: #666
}

.markdown-format > h1:first-child, .markdown-format > h2 {
  margin-top: 0
}

.markdown-format h3 {
  color: #325d72;
  font-weight: 700;
  font-size: 24px;
  margin: 1.5em 0 1em;
  border-bottom: 1px solid #ddd
}

.markdown-format h4 {
  color: #333;
  font-weight: 700;
  font-size: 1.2em;
  margin: 1em 0
}

.markdown-format h5 {
  color: #325D72;
  font-weight: 700;
  font-size: 1em;
  margin: 1em 0
}

.markdown-format h6 {
  color: #666;
  font-weight: 300;
  font-size: 1em;
  margin: 1em 0
}

.markdown-format p {
  margin: 1em 0
}

.markdown-format ul {
  padding-left: .7em;
  padding-bottom: 10px;
  margin: 1em 0
}

.markdown-format ul li {
  padding-left: .7em;
  margin: 5px 0
}

.markdown-format ol {
  counter-reset: li;
  list-style: none;
  position: relative;
  padding-bottom: 10px
}

.markdown-format ol > li {
  padding: 5px 0 5px 55px;
  position: relative;
  margin-bottom: 5px
}

.markdown-format ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  padding: 0 10px 0 0;
  color: #999;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  text-align: right;
  border-right: 1px solid #ddd
}

.markdown-format ol > li > p:first-child {
  margin-top: 0
}

.markdown-format ol > li:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

body, html {
  height: 100%
}

.markdown-format ol > li img {
  max-width: 100px;
  margin: 0 0 0 10px;
  float: right;
  border: 1px solid #ddd;
  cursor: pointer
}

.markdown-format ol > li img.expanded {
  max-width: 400px
}

.markdown-format a {
  color: #4183c4;
  text-decoration: none
}

.markdown-format a:hover {
  text-decoration: underline
}

.markdown-format a code {
  border-color: #4183C4
}

.markdown-format strong {
  font-weight: 700
}

.markdown-format img {
  padding: 1px;
  background: #fff;
  border: 1px solid #ddd;
  max-width: 660px
}

.markdown-format hr {
  margin: 1.5em 0
}

.markdown-format blockquote {
  color: #666;
  padding-left: 15px;
  margin: 1em 0
}

.markdown-format code, .markdown-format table {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box
}

.markdown-format blockquote strong {
  color: #666
}

.markdown-format table {
  width: 100%;
  border-collapse: collapse;
  border: solid #ddd;
  border-width: 1px 1px 2px;
  margin: 1em 0;
  border-radius: 3px;
  background-clip: padding-box
}

.markdown-format table td, .markdown-format table th {
  border: solid #ddd;
  border-width: 1px;
  padding: 10px;
  vertical-align: top
}

.markdown-format table td > :first-child, .markdown-format table th > :first-child {
  margin-top: 0;
  margin-bottom: 0
}

.markdown-format table th {
  font-weight: 700;
  color: #325d72;
  background-color: #eee
}

.markdown-format dl {
  margin: 1em 0
}

.markdown-format dl dt {
  font-weight: 700
}

.markdown-format dl dd {
  padding: 0 0 .1em 20px
}

.markdown-format dl dd .alert {
  margin-bottom: 10px
}

.markdown-format .intro {
  color: #666
}

.markdown-format .alert {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  font-size: 12px;
  color: #264c72;
  border: 1px solid #97c1da;
  border-radius: 3px;
  background-color: #d8ebf8;
  background: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ebf8', endColorstr='#d0e3ef')";
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8)
}

.markdown-format .alert + .alert {
  margin-top: 5px
}

.markdown-format .alert > :first-child {
  margin-top: 0
}

.markdown-format .alert > :last-child {
  margin-bottom: 0
}

.markdown-format .alert.note {
  color: #4c7226;
  background-color: #dbe2d3;
  background: -moz-linear-gradient(#dbe2d3, #dce3d4);
  background: -webkit-linear-gradient(#dbe2d3, #dce3d4);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe2d3', endColorstr='#dce3d4')";
  border: 1px solid #819c67
}

.markdown-format .alert.warning {
  color: #613A00;
  background-color: #ffe3c8;
  background: -moz-linear-gradient(#ffe3c8, #f5dac0);
  background: -webkit-linear-gradient(#ffe3c8, #f5dac0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3c8', endColorstr='#f5dac0')";
  border: 1px solid #dca874
}

.markdown-format .alert.danger {
  color: #9c2400;
  background-color: #f8d8d8;
  background: -moz-linear-gradient(#f8d8d8, #efd0d0);
  background: -webkit-linear-gradient(#f8d8d8, #efd0d0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8d8d8', endColorstr='#efd0d0')";
  border: 1px solid #da9797
}

.markdown-format .alert code {
  font-size: 12px
}

.markdown-format code {
  font-family: Monaco, "DejaVu Sans Mono", "Courier New", monospace;
  font-size: 13px;
  color: #666
}

.markdown-format code {
  padding: 0 5px 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}

.markdown-format pre {
  padding: 8px 10px;
  /*margin: 10px 0;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-font-smoothing: inherit;
  overflow: auto*/
}

.markdown-format pre code {
  padding: 0;
  border: none
}

.markdown-format pre span {
  white-space: pre-wrap
}

.markdown-format pre span.tooltip {
  position: relative;
  display: inline-block;
  width: 100%
}

.markdown-format pre span.tooltip span {
  display: block;
  color: #999
}

.markdown-format pre span.tooltip:hover {
  background: #eee;
  padding: 0 2px;
  margin-left: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.markdown-format pre.command-line {
  border: 2px solid #ddd;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.markdown-format pre.command-line em {
  color: #F9FE64;
  font-style: italic
}

.markdown-format pre.command-line .command:before {
  content: "$ "
}

.markdown-format pre.command-line .comment {
  color: #ccc
}

.markdown-format pre.command-line .output {
  color: #63E463;
  white-space: pre
}

.markdown-format pre.command-line .output span {
  position: fixed;
  top: -1000px;
  left: -1000px
}

#content-wrapper, #not-footer, body {
  position: relative
}

.markdown-format kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5
}

body {
  background-color: #fff;
  color: #333;
  font: 15px helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.left {
  float: left
}

.right {
  float: right
}

#not-footer {
  margin: 0 0 -140px;
  min-height: 100%
}

#content-wrapper {
  padding-top: 30px
}

.site .classic-notice, .site .deprecation-notice, .site .deprecation-warning {
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
  font-size: 12px;
  position: relative
}

#content-wrapper .clear {
  height: 140px;
  clear: both
}

#content-wrapper .clear-single {
  clear: both
}

.site {
  width: 940px;
  margin: 0 auto
}

.site .deprecation-warning {
  color: #613A00;
  border: 1px solid #dca874;
  border-radius: 3px;
  background-color: #ffe3c8;
  background: -moz-linear-gradient(#ffe3c8, #f5dac0);
  background: -webkit-linear-gradient(#ffe3c8, #f5dac0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3c8', endColorstr='#f5dac0')"
}

.site .deprecation-notice {
  color: #9c2400;
  border: 1px solid #da9797;
  border-radius: 3px;
  background-color: #f8d8d8;
  background: -moz-linear-gradient(#f8d8d8, #efd0d0);
  background: -webkit-linear-gradient(#f8d8d8, #efd0d0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8d8d8', endColorstr='#efd0d0')"
}

.site .classic-notice {
  color: #4c7226;
  border: 1px solid #819c67;
  border-radius: 3px;
  background-color: #dbe2d3;
  background: -moz-linear-gradient(#dbe2d3, #dce3d4);
  background: -webkit-linear-gradient(#dbe2d3, #dce3d4);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe2d3', endColorstr='#dce3d4')"
}

.deprecation-banner + .alert {
  margin-top: 5px
}

.deprecation-banner > :first-child {
  margin-top: 0
}

.deprecation-banner > :last-child {
  margin-bottom: 0
}

.deprecation-banner + #bootcamp {
  margin-top: 20px
}

.deprecation-banner b, .deprecation-banner strong {
  font-weight: 700
}

#staging-header {
  font-size: 12px;
  line-height: 34px;
  color: rgba(255, 255, 255, .5);
  background-color: #222
}

#staging-header p {
  color: #fff;
  padding-left: 20px
}

#header {
  background-color: #fafafa;
  background: -moz-linear-gradient(#fafafa, #eaeaea);
  background: -webkit-linear-gradient(#fafafa, #eaeaea);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .4), 0 0 10px rgba(0, 0, 0, .1)
}

#header div.clearfix {
  width: 940px;
  margin: 0 auto
}

#header ul.top-nav {
  position: relative;
  float: right
}

#header ul.top-nav .dropdown-button {
  line-height: 19px;
  margin-top: -1px;
  padding: 0
}

#header ul.top-nav .dropdown-button:hover .dropdown-caret {
  border-top-color: #4183c4
}

#header ul.top-nav > li {
  position: relative;
  float: left
}

#header ul.top-nav > li.separate {
  border-right: 1px solid #FAFAFA;
  box-shadow: 1px 0 0 #e0e0e0;
  padding-right: 15px
}

#header ul.top-nav > li > a, #header ul.top-nav > li > button {
  margin-left: 15px;
  display: block;
  height: 47px;
  line-height: 46px;
  color: #000;
  font-weight: 700;
  font-size: 13px
}

#header ul.top-nav > li > a:hover, #header ul.top-nav > li > button:hover {
  color: #4183C4
}

.button-nav, .button-nav li a {
  color: #333
}

.page-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px
}

.page-header .search-form.big {
  width: auto
}

.button-nav li {
  display: inline-block
}

.button-nav .mini-icon:before {
  position: relative;
  top: 2px;
  margin-right: 5px
}

.button-nav.search-more-button {
  padding-top: 10px
}

#footer {
  position: relative;
  height: 99px;
  margin-top: 40px;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 13px;
  overflow: hidden;
  background: #f5f5f5;
  text-shadow: 0 1px 0 #fff
}

#desktop-header ul.top-nav > li > a:hover, #desktop-header ul.top-nav > li > button:hover, #enterprise-header ul.top-nav > li > a:hover, #enterprise-header ul.top-nav > li > button:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, .75);
  text-decoration: none
}

#footer .left {
  float: left
}

#footer .right {
  float: right
}

#footer .invertocat {
  position: absolute;
  left: 50%;
  margin-top: -4px;
  margin-left: -12px;
  opacity: .25
}

#footer .inner {
  position: relative;
  display: block;
  width: 940px;
  margin: 0 auto;
  padding: 28px 0 0
}

#footer .inner .links a {
  color: #4183c4;
  text-decoration: none
}

#footer .inner .links li {
  display: block;
  float: left;
  margin-right: 10px
}

#enterprise-header {
  background-color: #252f61;
  background: -moz-linear-gradient(#252f61, #3e376f);
  background: -webkit-linear-gradient(#252f61, #3e376f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#252f61', endColorstr='#3e376f')";
  border-bottom-color: #5a5a5a;
  position: relative;
  z-index: 10;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px
}

#enterprise-header div.clearfix {
  width: 950px;
  margin: 0 auto
}

#enterprise-header ul.top-nav {
  position: relative;
  float: right;
  margin-top: 4px
}

#enterprise-header ul.top-nav > li {
  position: relative;
  float: left
}

#enterprise-header ul.top-nav > li.separate {
  border-right: 1px solid #FAFAFA;
  box-shadow: 1px 0 0 #e0e0e0;
  padding-right: 15px
}

#enterprise-header ul.top-nav > li > a, #enterprise-header ul.top-nav > li > button {
  margin-left: 15px;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 6px 5px 7px
}

#enterprise-header ul.top-nav > li a.btn-primary {
  border-color: rgba(0, 0, 0, .8);
  margin-top: 2px;
  padding: 6px 15px 7px
}

#desktop-header {
  background-color: #216668;
  background: -moz-linear-gradient(#216668, #1E8184);
  background: -webkit-linear-gradient(#216668, #1E8184);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#216668', endColorstr='#1E8184')";
  border-bottom-color: #5a5a5a;
  position: relative;
  z-index: 10;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px
}

#desktop-header div.clearfix {
  width: 950px;
  margin: 0 auto
}

#desktop-header ul.top-nav {
  position: relative;
  float: right;
  margin-top: 4px
}

#desktop-header ul.top-nav > li {
  position: relative;
  float: left
}

#desktop-header ul.top-nav > li.separate {
  border-right: 1px solid #FAFAFA;
  box-shadow: 1px 0 0 #e0e0e0;
  padding-right: 15px
}

#desktop-header ul.top-nav > li > a, #desktop-header ul.top-nav > li > button {
  margin-left: 15px;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 6px 5px 7px
}

#desktop-header ul.top-nav > li a.btn-primary {
  border-color: rgba(0, 0, 0, .8);
  margin-top: 2px;
  padding: 6px 15px 7px
}

.enterprise-mode .site {
  width: 940px
}

.page-header #quicksearch-query {
  min-width: 350px;
  width: auto
}

.version-switcher {
  font-size: 13px;
  margin: 17px 10px 0 0;
  width: auto
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border-color: #333 transparent transparent;
  border-style: solid;
  border-width: 4px
}

.enterprise-mode .dropdown-caret {
  border-top-color: #fff
}

.dropdown-menu {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 5px 1px rgba(0, 0, 0, .14);
  display: none;
  left: -42px;
  min-width: 180px;
  padding: 5px 0;
  position: absolute;
  top: 40px;
  z-index: 1001
}

.dropdown-menu:before {
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 9px;
  content: " ";
  left: 50%;
  margin-left: -9px;
  position: absolute;
  top: -18px
}

.dropdown-menu a {
  display: block;
  font-size: 13px;
  padding: 5px 15px
}

.dropdown-menu a:hover {
  background: #4183c4;
  color: #fff
}

.dropdown-menu-header {
  border-bottom: 1px solid #eee;
  color: #888;
  font-size: 12px;
  font-weight: 700;
  margin: 3px 0;
  padding: 3px 15px
}

.dropdown-button {
  background: 0 0;
  border: none;
  cursor: pointer;
  line-height: 19px;
  outline: 0
}

.fullscreen-overlay {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

div.content-header {
  position: relative;
  display: block;
  height: 39px;
  border-bottom: 1px solid #ddd
}

div.content-header h6 {
  position: absolute;
  color: #999;
  font-weight: 700;
  font-size: 12px;
  margin: 11px 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
  text-overflow: ellipsis;
  top: 0
}

div.content-header h6 span {
  color: #333
}

div.content-header h6 a {
  color: #4183c4;
  text-decoration: none
}

div.content-header h6 a:hover {
  text-decoration: underline
}

div.content-header h6.back-button {
  padding-left: 15px
}

div.content-header .search-form {
  display: block;
  width: 236px;
  padding-left: 10px
}

div.content-header .version-switcher {
  height: 27px;
  margin: 6px 0 0
}

div.content-header form {
  margin: 6px 0
}

div.content-header hr {
  margin: 0
}

.site-logo {
  float: left;
  margin: 10px 0
}

.site-logo a {
  text-indent: -999em;
  overflow: hidden;
  float: left;
  width: 109px;
  height: 25px;
}

.enterprise-site-logo {
  float: left
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .site-logo a {
    background-size: 109px 25px;
  }
}

span.last-updated-at {
  color: #999;
  font-size: 10px;
  font-style: italic;
  margin: 0 0 8px;
  position: relative;
  top: 20px
}

h1, h1 span, h2, h2 span {
  color: #333
}

.site > h1:first-child, .site > h2:first-child, select {
  margin: 0
}

h1, h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0
}

h3, strong {
  font-weight: 700
}

h1 span.warning, h2 span.warning {
  color: #d06806
}

h3 {
  font-size: 18px;
  color: #325d72;
  margin: 10px 0 5px
}

a, a:visited {
  color: #4183c4;
  text-decoration: none
}

em {
  font-style: italic
}

hr {
  border: solid #ddd;
  border-image: none;
  border-width: 1px 0 0;
  margin: 10px 0;
  clear: both
}

select {
  color: inherit;
  font: inherit;
  text-transform: none
}

small {
  font-size: smaller
}

.index-list h3 {
  font-size: 18px;
  font-weight: 700;
  color: #325d72;
  margin: 10px 0
}

.index-list h4 {
  font-size: 15px;
  font-weight: 700;
  color: #666;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  margin: 15px 0 10px
}

.index-list h5 {
  font-weight: 300;
  color: #666
}

ul.chevron li {
  margin-bottom: 5px
}

ul.chevron li a {
  padding-left: 10px;
  font: 400 15px/1.3 helvetica, arial, freesans, clean, sans-serif;
  display: block
}

ul.chevron li a:hover {
  background-position: 2px 5px
}

ul.chevron ul.chevron {
  padding: 0 0 0 1em;
  margin: 0
}

ul.chevron ul.chevron > li:first-child {
  margin-top: 5px
}

ul.chevron ul.chevron > li {
  margin-left: 10px
}

ul li span.auth-message {
  position: relative;
  display: inline-block;
  top: -1px;
  color: #a00;
  font-size: 13px;
  font-weight: 700
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

* html .clearfix {
  height: 1%
}

.clearfix {
  display: block
}

hr.clearfix {
  clear: both;
  background: 0 0;
  border: none
}

h1.guide-title {
  padding-top: 10px;
  border-top: 1px solid #ddd
}

.guide-section {
  box-sizing: border-box;
  float: left;
  min-height: 205px;
  padding: 0 20px;
  margin: 25px 0;
  width: 50%;
  text-align: center
}

.guide-section p {
  text-align: center
}

.guide-section a h3 {
  color: #4183c4
}

.guide-section a p {
  color: #333
}

.guide-section.center-guide {
  margin-left: auto;
  margin-right: auto;
  float: none;
  clear: both
}

.enterprise-docs .hero-octicon {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  text-align: center;
  border: 1px solid #dddff1;
  margin: 0 auto
}

.enterprise-docs .hero-octicon .mega-octicon {
  font-size: 34px;
  text-shadow: none;
  line-height: 75px;
  position: relative;
  left: 1px;
  color: #a8a8db
}

.desktop-docs {
  font-family: "Helvetica Neue", helvetica, arial, freesans, clean, sans-serif
}

.desktop-docs .hero-octicon {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  text-align: center;
  border: 1px solid #dddff1;
  margin: 0 auto
}

.desktop-docs .hero-octicon .mega-octicon {
  font-size: 34px;
  text-shadow: none;
  line-height: 75px;
  position: relative;
  left: 1px;
  color: #416a95
}

.desktop-docs h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 200;
  line-height: 1.1;
  margin: 0 0 44px;
  color: #138185;
  -webkit-font-smoothing: subpixel-antialiased
}

.desktop-docs .admin-guides h1 {
  text-align: left
}

.desktop-docs .guide-section {
  padding: 0 22px 44px;
  margin-top: 0;
  margin-bottom: 0
}

.desktop-docs .admin-guides {
  padding-bottom: 0
}

.desktop-docs .content-header {
  margin-bottom: 44px
}

.desktop-docs #article-platform-nav {
  margin-bottom: 22px
}

.desktop-docs .pager {
  margin: -32px 0 44px
}

.desktop-docs .pager a, .desktop-docs .pager span.disabled {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px
}

.desktop-docs .pager span.disabled {
  border-color: #f4f4f4;
  color: #ccc
}

.desktop-docs .article {
  clear: both
}

.desktop-docs #article-list-container, .desktop-docs .article .support-footer {
  margin-bottom: 44px
}

.desktop-search h2.search-header {
  margin: 22px 0
}

.desktop-search ul.search-results {
  margin-top: 0;
  border: none
}

.desktop-search ul.search-results li {
  padding: 0 0 22px;
  border-bottom: none
}

.admin-guides {
  padding: 0 100px 40px
}

.admin-guides .article {
  float: none;
  padding: 0;
  width: auto
}

.admin-guides .markdown-format ul {
  padding-left: 0
}

.admin-guides .markdown-format ul ul {
  padding: 0 0 0 1em;
  margin: 0
}

.pager {
  text-align: center;
  height: 1em
}

.pager li {
  display: inline
}

.mega-octicon, .octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.mega-octicon {
  font-size: 32px
}
